<div data-role="page" id="dashboard-page">

  <div data-role="panel" data-display="reveal" id="menu-panel" data-theme="a">
        <div class="ui-panel-inner">  
          <ul data-role="listview" data-theme="a">
                <li><a href="Home"><span class="workshoptrack-icon-home"></span> Principal</a></li>
                <li data-role="list-divider">Aplicaciones</li>
                <li><a href="/app/Reception"><span class="workshoptrack-icon-box-add"></span> Recepciones</a></li>
                <li><a href="/app/Expedition"><span class="workshoptrack-icon-box-remove"></span> Expediciones</a></li>
                <li><a href="/app/Bin"><span class="workshoptrack-icon-target"></span> Ubicaci&oacute;n</a></li>
                <li><a href="/app/Container"><span class="workshoptrack-icon-barcode"></span> Contenedor</a></li>
                <li><a href="/app/Picking"><span class="workshoptrack-icon-cart"></span> Picking</a></li>
                <li><a href="/app/Consolidation"><span class="workshoptrack-icon-contract"></span> Consolidaci&oacute;n</a></li>
                <li><a href="/app/Printer"><span class="workshoptrack-icon-print"></span> Impresi&oacute;n</a></li>
                <li><a href="/app/Equipment"><span class="workshoptrack-icon-wrench"></span> Equipamiento</a></li>
                <li data-role="list-divider">Configuraci&oacute;n</li>
                <li><a href="/app/CurrentUser"><span class="workshoptrack-icon-user"></span> <%= CurrentUser.find(:first).username %></a></li>
                <li data-role="list-divider">&nbsp;</li>
                <li><a href="/app/Settings/logout"><span class="workshoptrack-icon-switch"></span> Cerrar sesi&oacute;n</a></li>
           </ul>
         </div>
   </div>
   
   <div data-role="panel" data-position="right" data-display="reveal" id="users-panel" data-theme="a">
        <div class="ui-panel-inner">
           <ul data-role="listview" data-filter="true" data-filter-placeholder="Buscar usuario" data-filter-theme="a" data-theme="a">
            <li>Carlos Angel Salinas</li>  
            <li>Miguel Angel Salinas</li>
            <li>Manrique Canteli</li>
           </ul>
        </div>
   </div>
   
   <div data-role="header" data-position="inline">
    <a href="#menu-panel"><span class="workshoptrack-icon-menu"></span> Menu</a>
    <h1>Principal</h1>
    <a href="#users-panel"><span class="workshoptrack-icon-users"></span> Usuarios</a>    
  </div>

  <div data-role="content">
    
  </div>


</div>
