<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New EquipmentType</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @equipmenttype.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">Id: </td>
                <td class="itemValue"><input type="text" name="equipmenttype[id]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Description: </td>
                <td class="itemValue"><input type="text" name="equipmenttype[description]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Code: </td>
                <td class="itemValue"><input type="text" name="equipmenttype[code]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Capacity: </td>
                <td class="itemValue"><input type="text" name="equipmenttype[capacity]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Speed: </td>
                <td class="itemValue"><input type="text" name="equipmenttype[speed]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
