<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Bienvenido a KStock</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :do_login %>">
      <% if @msg %>
          <div class="error-message"><%= @msg %></div>
      <% end %>

      <label for="login" class="ui-hidden-accessible">Usuario</label>
      <input data-clear-btn="true" type="text" id="login" name="login" placeholder="Usuario" />
      
      <label for="password" class="ui-hidden-accessible">Clave</label>
      <input data-clear-btn="true" name="password" id="password" value="" autocomplete="off" type="password"  placeholder="Clave" />        
      
       <input type="submit" value="Acceder" data-theme="b"/>
    </form>
  </div>

</div>
